 <div class="row">
  <hr>
  <div class="small-7 columns">
    <ul class="inline-list secondary">
    </ul>
  </div>
  <div class="small-5 columns">
   <ul class="inline-list secondary right">
    <li>Built with love at <a href="http://cfi.edcast.com" style="display:inline;">CFI Hackathon. Rashtrapati Bhavan</a></li>
  </ul>
</div>
</div>
</body>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script src="{{site.url}}/assets/js/nprogress.js"></script>
<script src="{{site.url}}/assets/js/app.js"></script>

